.about {
  margin-top: 40px;
  transition: ease-in-out 0.4s;
  padding: 30px 0;
  text-align: start;
}

.about.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

@media (max-width: 768px) {
  .about {
    top: 120px;
  }

  .about.section-show {
    top: 80px;
  }
}

.about-me {
  width: 80%;
  margin: 0 auto;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #3498DB;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}


.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #3498DB;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-me .content ul strong {
  margin-right: 10px;
}

.about-me .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #3498DB;
  line-height: 0;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

.about-details-container {
  display: flex;
  width: 100%;
}

.img-fluid {
  height: 300px;
  border-radius: 50%;
}

.about-me-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.about-me-presentation {
  max-width: 800px;
}

