.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #3498DB;
  padding: 8px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3498DB;
}


